:root {
  --background-color: #131722;
  --text-color: #d1d4dc;
  --disabled-color: #75757e;
  --hover-text-color: white;
  --border-color: #ccc;
  --font-family: Montserrat, sans-serif;
  --base-spacing: 20px;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  overflow: hidden;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  display: flex;
  gap: var(--base-spacing);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px var(--base-spacing);
  align-items: center;
}

.header__title, .header__icon, .header__time, .header__section, .header__section-name {
  cursor: pointer;
}

.header__title:hover, .header__icon:hover, .header__time:hover, .header__section:hover, .header__section-name:hover {
  color: var(--hover-text-color);
}

.header__section {
  display: flex;
  position: relative;
  gap: 5px;
  align-items: center;
}

.header__list {
  display: none;
  position: absolute;
  top: 17px;
  width: 150px;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  z-index: 10;
}

.header__section:hover {
  .header__list {
    display: block;
  }
}

.header__section--disabled {
  color: var(--disabled-color);
  pointer-events: none;
}

.header__title {
  font-size: 16px;
  font-weight: bold;
}

.chart {
  position: relative;
}

.warning {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  z-index: 1000;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}